.notbtn{
    background-color: #06BBCC;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
    color: #ffff;
    font-size: 1rem;
    text-decoration: none;
}
.fournot{
    font-family: 'Nunito', sans-serif;
    font-size: calc(1.500rem + 4.5vw);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #181d38;

}
.pagefound{
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #181d38;
}
.errortxt{
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
}
.triangle{
    color: #06BBCC;
}