

.ReadImg{
    height: 200px;
    width: 298px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}
.Readmore-sec{
    background-color:#F0FBFC;
   height: 500px;
}

.Readmore-sec:hover{
    background-color: #11d8eb;
    color: white;
}
.read-details h1{
    color: #181d38;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
.read-details p{
    color: #181d38;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.read-title{
    font-size: 23px;
}
.readmore-list{
    color: #181818;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}