*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.menu{
    padding: 0px;
}
.navbar{
    display: flex;
    background-color: white;
    padding: 0px;
    height: 75px;
}
.navbar-nav{
    margin-left: 46%;
    width: 54%;
    padding: 13px;
    background-color: white;
    justify-content: end;
    padding-bottom: 0px;
}

#nlink{
    font-size: 15px;
    font-weight: 500;
    font-family:"Heebo", sans-serif; 
    padding-top: 10px;
    text-decoration: none;
    margin-right: 25px;

}
.active-link {
    color: #06BBCC; 
  }
  
  .inactive-link {
    color: #181d38;

  }
  .dropdown-active > .nav-link {
    color: #06BBCC; 
  }
  .dropdown-inactive > .nav-link{
    color: #181d38;
  }
#nlink:hover{
    color: #06BBCC;
}

#basic-nav-dropdown:hover{
    color: #06BBCC;
}

#basic-nav-dropdown{
    font-size: 15px;
    font-weight: 500;
    font-family:"Heebo", sans-serif; 
    padding-top: 10px;
    padding-bottom: 21px;
    margin-right: 25px;
    text-decoration: none;
}
.drop-m{
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #52565b;
    font-family: 'Heebo', sans-serif;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0px;
    opacity: 0;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
}
.dropdown:hover
    .drop-m{
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
}
.dropdown-menu{
    border: 0;
    visibility: hidden;
}

.dropdown-item:hover{
    background-color: #e7ecf1;
}

.join{
    color: white;
    background-color: #06BBCC;
   transition: 0.3s;
   height: 75px;
   text-align: center;
   text-decoration: none;
   margin: 0;
   width: 14.3%;
}
.joinNow1{
    font-size: 16px;
    text-decoration: none;
   font-family: 'Nunito', sans-serif;
   font-weight: 600;
   align-items: center;
  margin-top: 5px;   
}
.join:hover{
    background-color: #07c3d4;
}
.navbar-brand{
    color: #06BBCC;
    padding: 15px;
    margin-left: 32px;
    white-space: nowrap;
    transition: .5s;
    font-family: "Nunito", san-serif;
    font-size: calc(1.325rem + .8vw);
    font-weight: 700;
}
.book-logo{
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 8px;
}
.navbar-brand:hover{
    color: #06BBCC;
}

.navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0px;
    transition: box-shadow 0.15s ease-in-out;
    margin-right: 20px;
    border-color: rgba(0,0,0,0.1);
    
}



@media screen and (max-width:1250px) {
    /* .navbar-nav{
        width: auto;
       margin-left: 200px;
    } */
    .join{
        text-align: center;
        width: auto;
        height: auto;
        }
    
}
@media screen and (max-width:1300px) {
    .navbar-nav{
        width: auto;
        margin-left: 200px;
    }
    .join{
        width: auto;
        height: 75px;
        }
}
@media screen and (max-width:1170px) {
    .navbar-nav{
        width: auto;
       margin-left: 150px;
    }
    @media screen and (max-width:1057px) {
        .navbar-nav{
            width: auto;
           margin-left: 80px;
        }
    }
    @media screen and (max-width:1100px) {
        .navbar-nav{
            width: auto;
           margin-left: 60px;
        }
    }
}
@media screen and (max-width:990px) {
    .navbar-nav{
        width: auto;
        margin: 0;
        text-align: left;
       
    }
    .navbar{
        height: auto;
    }
    #basic-nav-dropdown{
        margin-left: 20px;
        padding: 10px;
    }
    #nlink{
        margin-left: 20px;
        padding: 10px;
    }
  
    .navbar-brand{
        margin-left: 10px;
    }
   .join{
       display: block;
       height: auto;
       width: auto;
        }
    }
    @media screen and (max-width:320px) {
        .navbar-toggler{
            margin-right: 230px;
            margin-top: 10px;
        }
        .navbar{
            height: auto;
        }
        .join{
            width: auto;
            height: auto;
        }
    }
                 /* carousel */
 .carousel{
    width: 100%;
}
.carousel-indicators{
    display: none;
}
.box{
   display: flex;
    background:rgba(24, 29, 56, .7);
    position: absolute;
    top: 0px;
   width: 100%;
   height: 100%;
   padding: 0;
}
.carousel-caption{
    width: 80%;
    height: 74%;
   position: absolute;
    left: 120px;
    text-align: left;
    padding-top: 30px      ;
   
}
.carousel-caption h5{
    color: #06BBCC;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}
.carousel-caption h1{
    font-family: 'Nunito', sans-serif;
    font-size: 62px;
    font-weight: 800;
   transition: .5s;
}

.carousel-caption p{
    font-weight: 400;
    font-size: 20px;
    font-family:"Heebo", san-serif;
}
.Read-btn{
    background-color: #06BBCC;
    color: white;
    border: none;
    padding: 17px;
    margin-top: 17px;

}
.Join-btn{
    border: none;
    padding: 17px;
    margin-left: 4px;
    margin-top: 17px;
    color: black;
}
.carous-btnr{
    font-size: 16px;
    font-family: "Nunito", san-serif;
    font-weight: 600;
text-decoration: none;
color: white;
}
.carous-btnj{
    font-size: 16px;
    font-family: "Nunito", san-serif;
    font-weight: 600;
text-decoration: none;
color:black;
}
 .carousel-control-prev{
    color: #fff;
    text-align: center;
    width: 45px;
    height: 45px;
    top: 327px;
    left: 88.5%;
    border: 2px solid white;
    transition: 0.5s;
}
.carousel-control-prev:hover{
    background-color: #06BBCC;
    border: none;
}
.carousel-control-next:hover{
    background-color: #06BBCC;
    border: none;
}
 .carousel-control-next{
    color: #fff;
    transition: 0.5s;

    text-align: center;
    width: 45px;
    height: 45px;
    top: 387px;
    left: 88.5%;
    border: 2px solid white;
 }
 
 .carousel-control-prev-icon{
    color: #fff;
    height: 1.5rem;
   
 }
 .carousel-control-next-icon{
    color: #fff;
    height: 1.5rem;
   
 }
 .animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}
.slideInDown {
    animation-name: slideInDown;
}

 
 
 @media screen and (max-width: 1038px){
    .Read-btn{
        width: auto;
        height: auto;
    }
    .Join-btn{
        width: auto;
        height: auto;
    }
}
@media screen and (max-width:880px) {
    .Read-btn{
        width: auto;
        height: auto;
    }
    .Join-btn{
        width: auto;
        height: auto;
    }
    .carousel-caption{
        width:auto;
        height: auto;
    }
    .carousel-caption h1{
        font-weight: 800;
        font-size: 40px;
    }
    .carousel-caption p{
        font-weight: 600;
        font-size: 19px;
    }
}
@media screen and (max-width: 768px){
    .carousel img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
.carousel-caption{
        width:95%;
        height: 400px;
        left: 10px;
        top: 70px;
    text-align: left;
    }
.carousel-caption h1{
        font-weight: 800;
        font-size: 40px;
    }
    .carousel-caption p{
        font-weight: 600;
        font-size: 19px;
    }

.Read-btn{
        width: auto;
        height: auto;
        font-size: 14px;
        padding: 10px;
 }
.Join-btn{
        width: auto;
        height: auto;
        font-size: 14px;
        padding: 10px;
   }
   .carousel-control-prev{
    top: 300px;
    left: 85%;
 }
 .carousel-control-next{
    top: 367px;
    left: 85%;
 }
 }
  
    @media screen and (max-width: 385px){
        .carousel img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        .carousel-caption{
            width:95%;
            height: 400px;
            left: 10px;
            top: 40px;
        text-align: left;
    }
.carousel{
            min-height: 500px;
        }
 .Read-btn{
            width: auto;
            height: auto;
            font-size: 15px;
            padding: 8px;
     }
.Join-btn{
            width: auto;
            height: auto;
            font-size: 15px;
            padding: 8px;
     }
 .carousel-caption h1{
        font-size: 36px;
     }
.carousel-caption p{
        font-size: 16px;
     }
     .carousel-control-prev{
        top: 250px;
        left: 78%;
     }
     .carousel-control-next{
        top: 300px;
        left: 78%;
     }
 }
@media  screen and (max-width:250px) {
     .navbar-brand{
        font-size: 22px;
    }
    .carousel-caption h1{
        font-size: 34px;
     }
.carousel-caption p{
        font-size: 14px;
     }
}

               /* CARDS */

.sec2{
    width: 100%;
    background-color: white;
    transform: translateY(5);
}              
.cardsec{
    margin-top: 80px;
    margin-bottom: 80px;
    transform: translate(0px,-15px);
    transition: .5s;
}
.cards{
    border-radius: 0%;
    height: 260px;
    border: none;
    background-color: #edfcfd;
    margin-top: 20px;
}
.cards:hover{
    transform: translate(0px,-15px);
    transition: .3s;
    background-color: #06BBCC;
    color: white;
    .cardIcon{
        color: #fff;
    }
    .card-text{
        color: white;
    }
}
.cardIcon{
    font-size: 50px;
    color: #06BBCC;
}
.card-title{
    font-family:"Nunito", san-serif;
    font-weight: 700;
    margin-top: 30px;
}
.card-text{
    font-size: 16px;
    font-family:"Heebo", san-serif;
    color: #52565b;
    font-weight: 400;
    padding: 20px;
}

.sec-2{
    background-color: white;
}

.pic1{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.info1{
    text-align: left;
}
.info1 h4{
    color: #06BBCC;
    font-size: 16px;
}
.info1 h1{
    font-family: "Nunito", san-serif;
    font-weight: 700;
    color: #181d38;

}
.line1{
    background-color: #06BBCC;
    height: 2px;
    width: 40px;
    margin-left: 90px;
    margin-top: -20px;
}
.line2{
    background-color: #06BBCC;
    height: 2px;
    width: 60px;
    margin-left: 90px;
    margin-top: 5px;
}
.info1 p{
    font-size: 1rem;
    color: #52565b ;
    font-family: "Heebo",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    
}

.Advantage{
    text-align: left;
    margin-top: 14px;
    color: #52565b ;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
}
.rows{
    margin-top: 10px;
}
.Abticon{
    color: #06BBCC;
}
.abt-bt{
    text-decoration: none;
    font-size: 17px;
    background-color: #06BBCC;
    color: white;
    padding: 14px;
    float: left;
    width: 30%;
}
@media screen and (max-width:480px) {
    .abt-bt{
        width: auto;
    }
}

                                 /* SECTION 3 */

.sec3-con{
    margin-top: 90px;
}

.cat1img, .cat2img, .cat3img, .cat4img{
   transition: transform 0.4s;
  }
.category1:hover .cat1img{
    transform: scale(1.1);
}
.category2:hover .cat2img{
    transform: scale(1.1);
}
.category3:hover .cat3img{
    transform: scale(1.1);
}
.category4:hover .cat4img{
    transform: scale(1.1);
}

.cat-line3{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: 60px;
}
.cat-line4{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: 60px;
}
.cat-line1{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: -100px;
}
.cat-line2{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: -120px;
}
.cat-name{
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #181d38;
    font-size: 1.25rem;
}
.cat-coursename{
    font-family: "Heebo",sans-serif;
    color: #06BBCC;
    font-weight: 400;
    font-size: 14px;
}

.sec3-imgs{
    margin-top: 40px;
}
 .row{
    display: flex;
    flex-wrap: wrap;
}
 
 @media screen and (max-width:340px) {
    .cat-line1{
        width: 20px;
        left: -80px;
    }
    .cat-line2{
        width: 40px;
        left: -100px;
    }
    .cat-line3{
        width: 20px;
    }
    .cat-line4{
        width: 40px;
    }
 }


                         /* SECTION - 4 */



.sec4-con{
    margin-top: 100px;
}


.sec4-cards{
    border-radius: 0%;
    border: none;
    background-color: #F0FBFC !important;

}
.course-img {
    transition: transform 0.4s;
}
.sec4-cards:hover .course-img{
    transform: scale(1.1);
}
.course-line1{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: 50px;
}
.course-line2{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: 50px;
}
.course-line3{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: -90px;
}
.course-line4{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: -110px;
}
.c-text{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: rgb(54, 54, 54);
}
.Dollar{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
.star{
    color: #06BBCC;
    font-size: 15px;
}
.rate{
  color: #52565b;
  font-size: 14px;
}
.c-footer{
    font-size: 14px;
    color: #52565b;
    font-family: "heebo";
}
.Ico{
    color: #06BBCC;
    margin-bottom: 3.7px;
    padding-right: 5px;
    padding-left: 0;
    font-size: 19px;
}
.card-btn1{
    text-decoration: none;
    background-color: #06BBCC;
    border-radius: 30px 0 0 30px;
    border: 0;

}
.btn-sec{
    top: 175px;
}

.card-btn2{
    border-radius: 0 30px 30px 0;
    background-color: #06BBCC;
    border: 0;
}
.card-btn1:hover{
    background-color: #05d0e2;
}
.card-btn2:hover{
    background-color: #05d0e2;
}

.sec4-h6{
    color: #06BBCC;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.sec4-h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #181d38;
    margin-bottom: 30px;
}
@media screen and (max-width:1100px) {
    .btn-sec{
        top: 120px;
    }
    .sec4-cards{
        margin-top: 10px;
    }
}
@media screen and (max-width:350px) {
    .btn-sec{
        top: 90px;
    }
    .course-line1{
        width: 20px;
    }
    .course-line2{
        width: 40px;
    }
    .course-line3{
        width: 20px;
        left: -70px;

    }
    .course-line4{
        width: 40px;
        left: -90px;
    }
}

                                  /* SECTION-5 */

.sec5-con{
    margin-top: 80px;
}

.ins-line3{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: 70px;
}
.ins-line4{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: 70px;
}
.ins-line1{
    height: 2px;
    width: 40px;
    background-color: #06BBCC;
    top: 3px;
    left: -110px;
}
.ins-line2{
    height: 2px;
    width: 60px;
    background-color: #06BBCC;
    top: 11px;
    left: -130px;
}

.sec5-cards{
   border-radius: 0;
   border: none;
   background-color: #F0FBFC;
   margin-top: 20px;
   
}
.expert{
    transition: transform 0.4s;

}
.sec5-cards:hover .expert{
    transform: scale(1.1);

}

.Names{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #181d38;
}

.s5-Ico{
   background-color: #F0FBFC;
 
}

.fb-ico{
    background-color: #06BBCC;
    border-radius: 0%;
    border: none;
}
.fb-ico:hover{
    background-color: rgb(38, 215, 231);
}
.desig{
    font-size: .875rem;
    color: #52565b;
   font-family: "Heebo", sans-serif;
   font-weight: 400;
}
@media screen and (max-width:300px) {
    .ins-line1{
        width: 16px;
        left: -83px;
    }
    .ins-line2{
        width: 36px;
        left: -103px;}
        .ins-line3{
            width: 16px;
            left: 65px;
        }
        .ins-line4{
            width: 36px;
            left: 65px;}
}

                          
                  /* SECTION - 6 - CAROUSEL */
.sec6-con{
    margin-top: 80px;
}
.testi-name{
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #181d38;
}
.testi-profession{
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #52565b;
}
.testi-p{
    background-color: #06BBCC;
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}
.testi-txt{
    margin: 0 auto;

}
.testi-img{
    border: 2px solid #52565b;
}

.carousel-container {
    width: 80%;
    margin: auto;
  }
  
  .testimonial-card {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    padding: 15px;
    .testi-txt{
        color: #3a3b44;
    }
    .testi-p{
        background-color:  #d8fcff;
    }
  }
  
  .slick-center .testimonial-card {
    opacity: 1;
    .testi-txt{
        color: white;
    }
    .testi-p{
        background-color: #06BBCC;
    }
  }
  
  
  .custom-indicator {
    width: 15px; 
    height: 15px;
    border:1px solid #c2c0c0; 
    margin: 0 ;
    margin-top: 16px;
  }
  .slick-active .custom-indicator {
    background-color: #06BBCC; 
  }
  

                            /* FOOTER */

.foot-con1{
    background-color: #181d38;
    margin-top: 120px;
}
.quick-link{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid transparent;
    margin-bottom: 5px;
    transition: .3s;
}
.quick{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: left;
}
.contac{
    text-align: left;
}
.address{
    display: block;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    border: 1px solid transparent;
    margin-bottom: 5px;
    color: white;
}
.address-ico{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    color: #F0FBFC; ;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
    display: inline-block;
    padding: 2px;
}
.address-ico:hover{
    background-color: white;
    color: #06BBCC;
}
.ga{
    padding-left:0px;
    padding-right: 8px;
    padding-top: 3px;
}
.gall{
    margin-right: 13px;
    margin-left: 6px;
}
.news{
    text-align: left;
}
.newsletter{
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.form-control{
    border-radius: 0%;
}
.sign-btn{
    border-radius: 0%;
    background-color: #06BBCC;
    border: none;
}
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
    width: 48px;
    height: 48px;
}
.btns{
    transition: .5s;
    background-color: #06BBCC;
    border-color: #06BBCC;
    margin-top: -150px;
    margin-right: 33px;
}
.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}
.copy, .copy2, .copy3{
    color: white;
    font-family: "Heebo",sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    font-family: "Heebo",sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 400;
font-size: 15px;
}
.back-to-top {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

@media screen and (max-width:577px){
    .footer-menu{
        text-align: left;
    }
    .footer-menu a{
        border-right: none;
    }
}






